@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;400&display=swap');
*{
    margin: 0%;
    padding: 0%;
}

body{
    position:relative;
    background-image: url(body.back.jpg);
    background-size:cover;
}

@media screen and (max-width: 400px) {
    
    .in-panel{
        display: flex;
        flex-direction: column;
    }

    .con{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .con2{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .li{
        margin-left: 10px;
        margin-top: 10px;
        padding: 8px;
        background-color: beige;
        width: auto;
        border-radius: 10px;
        overflow: hidden;
        cursor:pointer;
        font-size: 10px;
    }

    .panel{
        display: flex;
        flex-direction: column;
        padding: 20px;
        height: 100vh;
        width: 20vw;
        background-color: aquamarine;
    }

    .in-section-1{
        margin: 0px;
        height: 0px;
        width: 0px;
        
    }


  }

@media screen and (min-width:400.1px) and  (max-width: 515px) {
    
    
    .in-panel{
        display: flex;
        flex-direction: column;
    }

    .con{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .con2{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

   

    .li{
        margin-left: 10px;
        margin-top: 10px;
        padding: 8px;
        background-color: beige;
        width: auto;
        border-radius: 10px;
        overflow: hidden;
        cursor:pointer;
    }

    .panel{
        position: relative;
        display: flex;
        padding: 20px;
        height: 100vh;
        width: 20vw;
        background-color: aquamarine;
    }

    .section{
       position: relative;
       display: flex;
       left: 80%;
       flex-direction: column;
    }

    

  }

  
  
  @media screen and (min-width:515.1px){
    
    .panel{
        
        padding: 20px;
        
        
    }
    
    .in-panel{
        position: relative;
        display: flex;
        justify-items: cnter;
        justify-content: space-between;
        background-color: rgba(136, 160, 160, 0.591);
        border-radius: 10px;
    }
    
    .con{
        display: flex;
        justify-content: flex-start;
    }
    
    .con2{
        display: flex;
        justify-content: flex-end;
    }

    .li{
        margin: 10px;
        padding: 3px 10px 3px 10px;
        background-color: beige;
        border-radius: 10px;
        font-family: 'Teko', sans-serif;
        font-weight: 300;
        font-size:large;
        cursor: default;
        cursor: pointer;
        text-align: center;
        position: relative;
    }

    .section{
        margin-top: 20px;
        display: flex;
        background-color: rgba(240, 246, 244, 0);
        border-radius: 10px;
        justify-content: start;
    }

    .in-section-1{
        position: relative;
        margin-left: 10%;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        background-color: rgba(240, 248, 255, 0.607);
        top:20px;
    }

    .in-section-2{
        position: relative;
        margin-left: 40px;
        border-radius: 10px;
        background-color: rgba(240, 248, 255, 0.582);
    }
    
  }

a{
    text-decoration: none;
    color: black;
}

.in-section-1 img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.in-section-1 h2{
   position: relative;
    color: blue;
    margin-left: 10%;
}

i{
    margin-right: 8px;
}

.skill{
    padding: 10px;
    margin: 2px;
    text-align: center;
    background-color: cadetblue;
    border-radius: 10px;
}

.course{
    font-family: 'Regular 400', sans-serif;
}
.data{
    margin: 10px;
}

.hader{
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: azure;
    border-radius: 10px;
    flex-direction: column;
}

body{
    background-color: aquamarine;
    background-image: url(body.back.jpg);
    background-size: cover;
}

.hov{
    transition-timing-function: linear;
    transition: background-color 1s;
}

.hov:hover{
    background-color: aqua;
    font-weight: bolder;
}

.panel1{
    align-items: center;
}










